.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goal span {
  text-align: center;
}

.goal-time {
  text-align: center;
  font-size: 1.4rem;
  color: #40798c;
}


.goal .bg-success {
  background-color: #439a86 !important;
}

.goal .bg-info {
  background-color: #418faf !important;
}

.goal .bg-warning {
  background-color: #7a8196 !important;
}

.goal .progress-bar {
  height: 24px;
}

.goal {
  position: relative;
}

.progress-bars {
  position: absolute;
  top: 5rem;
  height: 60px;
  left:0;
  width: 100%;
}
