body, html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main-header {
  text-align: center;
  background-color: rgba(23, 21, 20, 0.8);
  padding: 0.5%;
  margin-bottom: 0;
  margin-top: 20px;
  border-radius: 100px;
  margin-left: 30%;
  margin-right: 30%;
}
.main-header a{
  text-decoration: none;
  color:white;
  font-family: helvetica sans-serif;;
}

.main-component{
  background-color: black;
  display:flex;
  width: 100vw;
  height: 100vh;
  margin:0;
  flex-wrap: wrap;

}
.tile{
  background-color: red;
  height: 25%;
  width : 15em;
margin: .25em;
flex-grow: 1;



}
.sales{
}

.expenses{

}
.profits{

}
.margin{

}
.clients{

}
.sales-expense-profit{
flex-grow: 2;
height: 70%;

}
.sales-table{
flex-grow: 2;
height: 70%;

}
.top-clients{
flex-grow: 1;
height: 70%;


}
