body, html {
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
}

.main-header {
    text-align: center;
    height: 10%
}

.main-header a {
    text-decoration: none;
    color: white;
    font-family: helvetica sans-serif;
}

.row1 {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    overflow: hidden;
    align-items: baseline;
}

.row2 {
  height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 4px solid black;
    overflow: auto;
}

.main-component {
    background-color: whites;
    width: 100vw;
    height: 100vh;
}
.firstrow{
  width: 20%;
  border: 4px solid black;
  background-color: white;
  height: 100%;

}
.secondrow{
  width: 33%;
  border: 4px solid black;
  background-color: white
}
