body, html {
    box-sizing: border-box;
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.main-header {
  text-align: center;
  height: 10%
}

.main-header a {
  text-decoration: none;
  color: white;
  font-family: helvetica sans-serif;
}

.main-component {
  padding-top: 1rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 1500px;
  margin: auto;
}

.number-report .title {
  font-size: 2.4rem;
  color: #439A86;
  margin: 0;
  text-align: center;
  font-weight: 200;
}

.number-report .value {
  font-size: 2rem;
  color: #007991;
  margin: 0;
  text-align: center;
  font-weight: 600;
}

.chart-title {
  font-size: 2.4rem;
  margin: 1rem;
  text-align: center;
  font-weight: 200;
}

.tile-lg {
  width: 50%;
  display:flex;
  /*justify-content: center;*/
  margin: 0;
  flex-flow: wrap;
  position: static;;
}


.tile-sm {
  margin: 0;
  padding: 0;
  width: 33.33333%;
  min-height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-sm > div {
  margin: 1rem;
  height: 90%;
  width: 100%;
}

.tile-xs {
  width: 50%;
  height: 30%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-xs > div {
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  height: 80%
}

@media (max-width: 764px) {
  .body{
    width: 100vw
  }
  .main-component {
    width: 100%
  }


  .tile-xs {
    width: 50%;
    padding-bottom: 3%;
  }
  .tile-xs > div {
padding-bottom: 5%;
  }
  .tile-sm{
    width: 100vw;
    padding-bottom: 3%;
  }
  .tile-sm > div {
padding-bottom: 5%;
  }
  .tile-lg{
    width: 100%;
    padding-bottom: 3%;
  }
  .tile-lg > div {
padding-bottom: 5%;
  }
}
